body {
    font-family: Arial, sans-serif;
    background-image: url("/Images/r11.jpeg");
    background-size: cover; /* Ensure the image covers the entire body */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e8e8e8;
}

header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.contact {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.map {
    margin: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 1.1rem;
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #303f9f;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
